.App {
  padding: 30px;
  display: flex;
  background-color: #2ad6d6;
  border-radius: 10px;
  border: 1px solid #0a6565;
  margin-left: 15px;
}

.App > div {
  margin-right: 50px;
}
.todolist{

}
.task{
  font-weight: bold;
}
.task-done{
  opacity:0.5;
  text-decoration: line-through;
}
.filter-btn-active{
background-color: burlywood;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  border:2px solid burlywood;
}
.input-error{
  border: 2px solid red;
  outline: none;

}